img {
  width: 100%;
}

.imgcol {
  float: right;
  width: 20%;
  border: 3px solid red;
  background-color: pink;
  padding: 20px;
  margin-top: -20px;
}

.tourdate {
  margin-top: -20px;
  margin-right: 20px;
  float: left;
  width: 200px;
  font-size: 24px;
  background-color: red;
  border: 3px solid black;
  padding: 10px;

}
